[Desktop Entry]
Categories=Development;IDE;
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=idea com.jetbrains.IntelliJ-IDEA-Community
GenericName=Capable and Ergonomic Java IDE
Icon=idea
Keywords=development;idea;ide;intellij;java;
Name=IntelliJ IDEA Community
StartupNotify=true
StartupWMClass=jetbrains-idea-ce
Terminal=false
Type=Application
X-Flatpak=com.jetbrains.IntelliJ-IDEA-Community
