[submodule "oh-my-zsh"]
  path = oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule "spacemacs"]
  path = spacemacs
  url = git clone https://github.com/syl20bnr/spacemacs

[submodule "spf13-vim"]
  path = spf13-vim
  url = https://github.com/spf13/spf13-vim.git
