---

os_release_name: "{{ ansible_distribution_release }}"

user_name: "?"
user_group: "{{ user_name }}"

home_dir: "/home/{{ user_name }}"
installation_dir: "{{ home_dir }}/.dotfiles"

git_name:  "?"
git_email: "?"
