#
# Provided by dmytr's dotfiles
#

[Unit]
Description=Backup configuration in /etc folder

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/config-backup.sh "start"
ExecStop=/usr/local/bin/config-backup.sh "stop"

[Install]
WantedBy=multi-user.target
